<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<h2>Welcome to HyperJob!</h2>
<a href="/login">Login</a>
<a href="/logout">Logout</a>
<a href="/signup">Signup</a>
<a href="/vacancies">Vacancies</a>
<a href="/resumes">Resume</a>
<a href="/home">Person Profile</a>
</body>
</html>